div.movies p {
  margin:10px 0 0 0;
}

div.movies p.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin:10px 0 0 0;
}


div.movies div {
  display: inline;
  float: left;
  width: 185px;
  height: 380px;
  
}

div.movies div img {
  width: 185px;
  height: 280px;
  border-radius: 5%;
}

h1, h2, h3, p, a {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif, Calibri, 'Trebuchet MS';
  font-weight: 700;
  color: #ddd;

}

h2, h3, p {
  color:#ccc;
  font-weight:100; 
}

li {
  color:#ccc;
}

ul.nav {
  background:#2c2e30;
  margin:0;
  padding:15px 5px 15px 20px;
  box-shadow: 0 5px 15px 1px #7c3232;
  
}

ul.nav li {
  display: flexbox;
  margin-right:20px;
  
}

a {
  color:rgb(255, 133, 133);
  
}

body {
background-color: #2c2e30;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.21'%3E%3Cpolygon fill='%23452526' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%235e1c1d' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23781213' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2391090a' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23aa0000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  /* background: #2c2e30; */
  margin:0;
}

.container {
  padding-left: 50px;
  border: 5px;
}


.release_date {
  font-size: 12px;
}

.title {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.star {
  font-size: 130%;
  color: gold;
  line-height: 12px;
}

/* .container.posters {
  flex-direction: column; 
  display: flex;
  flex-wrap: wrap;
} */

